*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --text: #dd0031;
}
a{
  text-decoration: none;
color: var(--text);
}
/* HEADER */
#header{
 

  background-color: #eeeeee;
  height: 3.5em;
  left: 0;
  
  padding: 0 1.25em;
 
  top: 0;
  width: 100%;
  z-index: 10000;
}
/* header nav {
  display: flex;
  margin-top: 25px;
  font-family: 'apercu' ,sans-serif;
  color: var(--text);
  font-weight: 400;
  height: 3em;
  letter-spacing: 0.1em;
  line-height: 3em;
  
  right: 0.7em;
  
  top: 0.7em;
  
} */
/* header span{
  border-left: 1px solid gray;
  padding-left: 15px;
} */
header .header-logo{
  height:40px;
  border-radius: 45px;
  margin: 10px 10px 0 10px ;
  
}
.nav-items{
  
  display: flex;
  flex-direction: row;
 margin:0  33%;
}
.nav-items>li{
  text-decoration: none;
  padding: 0 1em;
  list-style: none;
}

.other-nav-items{
  display: flex;
  list-style: none;
  
}

.top-nav {
 
  background-color: white;
  height: 3.5em;
  left: 0;
  margin: 0;
  padding: 0 1.25em;
  position: fixed;
  /* top: 0; */
  width: 100%;
  z-index: 10000;
display: flex;
flex-direction: row;
 font-weight: 500;

 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
color: var(--text);
height: 3.5em;

position: fixed;
}
i.fa-solid.fa-location-dot{
  
  padding: 10px;
  border-left: .75px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-nav span{
  margin-top: 7px;
  padding-top: 10px;
  
  
}


.menu {
  
  text-decoration:unset ;  
  color: var(--text);
display: flex;
flex-direction: row;
list-style-type: none;
margin-left: 25%;
/* padding-top: 1em; */

align-content: center; 
}
li.prime{
  padding-top: 1em;
  color: var(--text);
}
.menu .special:nth-last-child(2){
  display: flex;
  justify-content: flex-end;

  margin: .5em 0; 
  margin-left: 28em;
  text-align: center;
 cursor: pointer;
  color: white;
  background: linear-gradient(-180deg,rgba(254,67,108,.99),rgba(221,0,49,.99) 49%,#c20726);
  /* padding: 15px 10px; */
  padding: 1em;
  border-radius:5em; 
  font-size: 13px;
  text-align: center;
 
}


.menu > li {
margin: 0 1rem;
overflow: hidden;
}

.menu-button-container {
display: none;
height: 100%;
width: 25em;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: var(--text);
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 900px) {
.menu-button-container {
  display: flex; 

  
}
.menu {
text-decoration: none;
  position: absolute;
  top: 0;
  
  margin: 50px 0 ;
  left: 0;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
 
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  width: 50%;
  font-size: 15px;
  
  margin: 5px auto;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  font-weight: 300;
  color: #000;
  background-color: #eee;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
section.pre-wrapper{
  margin-right: 0;
  width: 50%;
}
.pre-wrapper img{
  width: 30%;

}
footer .footer-wrapper{
  display: flex;
  padding:3em;
  font-size: .75em;
}
}


/* HOME */

/* MENU */
.subnav{
  margin:1em 0;
  height: 30px;
}
.subnav>ul{
  color: var(--text);
  display: flex;
  flex-direction: row;
justify-content: space-evenly;
list-style: none;
margin: 1em 0 ;
  
}

.menu-header{
  color: gray;
text-align: center;
}
div>h1{
  color: var(--text);
  margin-top: 5%;
  margin-bottom: 15px;
  text-align: center;
  
  width: 100%;
}


.features {
  display: flex;

  flex-wrap: wrap;
  margin: 0 0 1em 0;
}
.description{
  margin-bottom: 10%;
}
.features article {
 
  padding: 1em 0.85em 0.1em 1em;
  background-color: #ffffff;
  /* border-radius: 2px; */
  margin: 1.5em auto ;
  text-align: center;
  width: calc(30% - 1.5em);
}

.features article .image {
  border-radius: 5px 5px 0 0;
  display: block;

  position: relative;
  width: calc(100% + 3.5em);
}

a.special{
  text-align: center;
  cursor: pointer;
  color: white;
  background: linear-gradient(-180deg,rgba(254,67,108,.99),rgba(221,0,49,.99) 49%,#c20726);
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;

}
.features h3{

  text-align: center;
  margin:1em 5em; 
}
.features article .image img {
  border-radius: 5px 5px 0 0;
  width: 85%;
}
@media screen and (max-width: 980px) {
  .features article {
    margin: 1em 0.85em 1em 0;
    width: calc(45% - 1em);
  }
  .features h3{
    margin: 0;
    margin-bottom: 10px; 
    
  }
  .pre-footer{
    display: flex;
    flex-direction: column;
    /* width: 75%; */
  }
}

@media screen and (max-width: 736px) {
  .features article {
    padding: 1.5em 0.75em 0.1em 1.5em;
    margin: 0.875em 1.75em 0.875em 0;
    width: calc(35% - 0.875em - 1px);
  }

  .features article .image {
    margin-bottom: 1.5em;
    margin-left: -1.5em;
    margin-top: -1.5em;
    width: calc(100% + 3em);
  }
}

@media screen and (max-width: 480px) {
  .features {
    display: block;
  }

  .features article {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }
}
/* About */
p.quote {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  padding: 0 12em;
  text-align: center;
  margin: 0 6em;
}
span.dots {
  text-align: center;
  color: white;
  font-size: 75px;
  padding: 10% 48%;
}
.main-wrapper{
  background:url(https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/About%20Images/Who%20We%20Are/who-we-are.jpg);
  height:500px;
  background-size: cover;
  width: 100%;
}
.main-wrapper h1.about-header{
  color:white;
  font-size: 72px;
  margin: 0;
  height: 175px;
  padding-top: 10%;
  /* padding-bottom: 2%; */
}
.about-header p{
 text-align: center;
 color: white;
}
.sunday{
  background: url(https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/About%20Images/Who%20We%20Are/Closed-Sunday/Closed-Sunday_Who-We-Are_1440_2.jpg);
  height: 700px;
  background-size: cover;
  background-position: 20%;
}
.sunday>h2{
  font-size:48px ;
  font-weight: 400;
  color: white;
  padding: 5% 0 ;
  padding-bottom: 2%;
  text-align: center;
}
p.sunday-text{
  color: white;
  margin: 0 28%;
  line-height: 2;
  font-size:16px;
  text-align: center;
}
.next-gen{
  height: 800px;
  text-align: center;
  margin: 5% 0 ;
  text-align: center;
  margin:0 50px;
  margin-bottom: 45%;
  padding-top: 50px;
  color: rgb(99, 97, 97);
}
.next-gen h2{
  font-size: 48px;
  font-weight: 500;
  margin: .5em 0;
}
.next-gen p{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 15px;
}
.next-gen img{
  margin: 3em 0;
  width: 75;
  vertical-align: middle;
}
#SundayContainer{
  width: 70%;
  z-index: 1000;
  letter-spacing: .5px;
  font-size: 28px;
  font-size: 1.8rem;
}
.sunday{
  font-size: 2em;
}
.textCentered{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 65px;
  left: 500px;
  text-align: center;
  padding-top: 100px;
}
div.info-section{
  margin: 6em 0 ;
  display: flex;
  padding: 25px 50px ;
  color: #485259;
}
div.info-section h2{
  margin-bottom:30px;
  font-size:48px;
}
div.info-section p{
  line-height: 1.8;
  margin-right: 8em;
  font-size: 16px;
}
div.middle-text{
  margin-left: 2em;
  font-size: 48px;
}
div.middle-text span.middle-sub{

font-size:24px ;
font-weight: 600;
}
div.middle-text p{
  line-height: 1.8;
  font-weight: 400;
  margin-top: 2em;
  font-size: 16px;

}
div.info-section button{
  margin-top: 20px;
  background: linear-gradient(-180deg,rgba(254,67,108,.99),rgba(221,0,49,.99) 49%,#c20726);
    border-radius: 24px;
    color: #fff;
    border: 0;
    padding: 15px 19px;
    line-height: 1;
    font-weight: 600;
}
@media screen and (max-width: 980px) {
  .info-section{
    display: flex;
    flex-direction: column;
  }
  .next-gen{
    display: flex;
    flex-direction: column;
  }
  .main-wrapper{
    display: flex;
    flex-direction:column;
  }
  p.quote{
    margin:0;
    padding: 0;
  }
}
/* PRE-FOOTER */
.pre-footer{
  background: url(https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/Footer%20Images/footer-burger-phone-desktop-new-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  
}
.pre-wrapper{
  float: right;
  
  margin-left:60%;
  margin-right: 10%;
}
.pre-wrapper img.one-logo{
  margin: 2em 10em;
}
.pre-wrapper h4{
  font-size: 24px;
  text-align: center;
  margin: 0 20px;
}
.pre-wrapper p{
  font-size: 12px;
  text-align: center;
 margin: 2em 5em ;
}
.pre-wrapper a.app{
margin-left: 7em;
margin-top: em;

}
/* FOOTER */
.footer-wrapper{
  padding: 5em 10em  ;
}
.footer-items{
  color: var(--text);
  font-size: 1em;
  display: flex;
  flex-direction: row;
}

.footer-wrapper>.footer-items *{
  margin:0 .5em;
  list-style: none;
  
}
.socials{
  margin: auto;
  justify-content: flex-end;
}
ul.socials img{
 width: 50%;
  color: red;
}