*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --text: #dd0031;
}
a{
  text-decoration: none;
color: var(--text);
}
/* HEADER */
#header{
 

  background-color: #eeeeee;
  height: 3.5em;
  left: 0;
  
  padding: 0 1.25em;
 
  top: 0;
  width: 100%;
  z-index: 10000;
}
/* header nav {
  display: flex;
  margin-top: 25px;
  font-family: 'apercu' ,sans-serif;
  color: var(--text);
  font-weight: 400;
  height: 3em;
  letter-spacing: 0.1em;
  line-height: 3em;
  
  right: 0.7em;
  
  top: 0.7em;
  
} */
/* header span{
  border-left: 1px solid gray;
  padding-left: 15px;
} */
header .header-logo{
  height:50px;
  border-radius: 45px;
  margin:0 20px 0 0;
  
}
.nav-items{
  
  display: flex;
  flex-direction: row;
 margin:0  33%;
}
.nav-items>li{
  text-decoration: none;
  padding: 0 1em;
  list-style: none;
}

.other-nav-items{
  display: flex;
  list-style: none;
  
}

.top-nav {
  transition: background-color 0.2s ease-in-out;
  background-color: #eeeeee;
  height: 3.5em;
  left: 0;
  margin: 1em 0;
  padding: 0 1.25em;
  position: fixed;
  /* top: 0; */
  width: 100%;
  z-index: 10000;
display: flex;
flex-direction: row;


 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
color: var(--text);
height: 3.5em;

position: fixed;
}

.top-nav span{
  padding-top: 10px;
  padding-left: 10px;
  border-left: 1px solid gray;
}


.menu {
  
  text-decoration:unset ;  
  color: var(--text);
display: flex;
flex-direction: row;
list-style-type: none;
margin-left: 30%;
/* padding-top: 1em; */

align-content: center; 
}
li.prime{
  padding-top: 1em;
}
.menu :nth-last-child(2){
  margin-left: 15em;
 
 cursor: pointer;
  color: white;
  background: linear-gradient(-180deg,rgba(254,67,108,.99),rgba(221,0,49,.99) 49%,#c20726);
  padding: 15px 10px;
  border-radius:50px;
  font-size: 15px;
  text-align: center;
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
}

.menu-button-container {
display: none;
height: 100%;
width: 30em;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: var(--text);
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 900px) {
.menu-button-container {
  display: flex; 

  
}
.menu {
text-decoration: none;
  position: absolute;
  top: 0;
  
  margin: 50px 0 ;
  left: 0;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
 
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  width: 50%;
  font-size: 15px;
  
  margin: 5px auto;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  font-weight: 300;
  color: #000;
  background-color: #eee;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
section.pre-wrapper{
  margin-right: 0;
  width: 50%;
}
.pre-wrapper img{
  width: 30%;

}
footer .footer-wrapper{
  display: flex;
  padding:3em;
  font-size: .75em;
}
}


/* HOME */

/* MENU */
.subnav>ul{
  color: var(--text);
  display: flex;
  flex-direction: row;
justify-content: space-evenly;
list-style: none;
margin: 1em 0 ;
  
}

.menu-header{
  color: gray;
text-align: center;
}
div>h1{
  color: var(--text);
  margin-top: 5%;
  margin-bottom: 15px;
  text-align: center;
  
  width: 100%;
}


.features {
  display: flex;

  flex-wrap: wrap;
  margin: 0 0 2em 0;
}

.features article {
  padding: 1em 0.85em 0.1em 1em;
  background-color: #ffffff;
  /* border-radius: 2px; */
  margin: 1.5em auto ;
  text-align: center;
  width: calc(25% - 1.5em);
}

.features article .image {
  border-radius: 5px 5px 0 0;
  display: block;

  position: relative;
  width: calc(100% + 3.5em);
}
a.special{
  text-align: center;
  cursor: pointer;
  color: white;
  background: linear-gradient(-180deg,rgba(254,67,108,.99),rgba(221,0,49,.99) 49%,#c20726);
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
}
.features h3{

  text-align: center;
  margin:1em 5em; 
}
.features article .image img {
  border-radius: 5px 5px 0 0;
  width: 95%;
}
@media screen and (max-width: 980px) {
  .features article {
    margin: 1em 0.85em 1em 0;
    width: calc(45% - 1em);
  }
}

@media screen and (max-width: 736px) {
  .features article {
    padding: 1.5em 0.75em 0.1em 1.5em;
    margin: 0.875em 1.75em 0.875em 0;
    width: calc(35% - 0.875em - 1px);
  }

  .features article .image {
    margin-bottom: 1.5em;
    margin-left: -1.5em;
    margin-top: -1.5em;
    width: calc(100% + 3em);
  }
}

@media screen and (max-width: 480px) {
  .features {
    display: block;
  }

  .features article {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }
}





/* PRE-FOOTER */
.pre-footer{
  background: url(https://d1fd34dzzl09j.cloudfront.net/Images/CFACOM/Footer%20Images/footer-burger-phone-desktop-new-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  
}
.pre-wrapper{
  float: right;
  
  margin-left:60%;
  margin-right: 10%;
}
.pre-wrapper img.one-logo{
  margin: 2em 10em;
}
.pre-wrapper h4{
  font-size: 24px;
  text-align: center;
  margin: 0 20px;
}
.pre-wrapper p{
  font-size: 12px;
  text-align: center;
 margin: 2em 5em ;
}
.pre-wrapper a.app{
margin-left: 7em;
margin-top: em;

}
/* FOOTER */
.footer-wrapper{
  padding: 5em 10em  ;
}
.footer-items{
  color: var(--text);
  font-size: 1em;
  display: flex;
  flex-direction: row;
}

.footer-wrapper>.footer-items *{
  margin:0 .5em;
  list-style: none;
  
}
.socials{
  margin: auto;
  justify-content: flex-end;
}